{% load bootstrap4 %}
{% load static%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% block styles%}
        {% bootstrap_css %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">

    {% endblock %}
</head>
<body style="overflow-x:hidden">
    {% include 'navbar.html' %}
    <div class="container" id="image-section">
        {% for image in images%}
        <div class="row mt-3">
            <div class="col-sm-10 col-md-9 col-lg-5 m-auto">
                <div class="card" id="{{image.id}}">
                    <div class="card-header">
                        {% if image.user.profile.pic%}
                        <img src="{{image.user.profile.pic.cdn_url}}" alt="" height="50px" width="50px" style="border-radius: 50%;">
                        {% endif %}
                        <a href="{% url 'profile' image.user.id%}" class="text-dark"> {{image.user.username}}
                        </a>
                        <div>
                            <small>{{image.pub_date|timesince}} ago</small>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <img src="{{image.image_url.cdn_url}}" class="img-responsive" style="max-height: 400px; width: 100%;">
                    </div>
                    <div class="card-footer">
                        
                        <p>{{image.caption}}</p>
                        <form action="{% url 'like' %}" method="post" class="form-inline">
                            {%csrf_token%}
                            <p class="likes-icon mr-2">{{image.likes.all.count}} likes</p>
                            
                        </form>
                        <div class="comments">
                            {% for comment in image.comments.all %}
                            <p class="actual-comment">{{comment.user.username}}: {{comment.comm}}</p>
                            {% endfor %} </div>
                        <form action="{% url 'comment' %}" method="post" class="form-inline">
                            {% csrf_token %}
                            <input type="text" name="comment" id="" class="form-control comment-val"  style="height: 30px;border-top-right-radius: 0; border-bottom-right-radius: 0" required placeholder="Add a comment...">
                            <button type="submit" class="btn btn-sm btn-primary comment-btn" onclick="commenter('{{image.id}}')" style="height: 30px; border-top-left-radius: 0; border-bottom-left-radius: 0" >Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
        <script>
        
            
            
            $(".comment-btn").click(e => {
                e.preventDefault()
            })
            
            function commenter(id) {
                let comments = document.getElementsByClassName("comments")
                let image_id = parseInt(id)
                let commentVals = document.getElementsByClassName("comment-val")
                comments_arr = []
                commentVal_arr = []
                for(let i of comments) {
                    comments_arr.unshift(i)
                }
                for(let i of commentVals) {
                    commentVal_arr.unshift(i)
                }
                let comment = commentVal_arr[id - 1].value
                console.log(comment)
                $.ajax({
                    "url": "/ajax/comment/",
                    "type": "POST",
                    "data": {
                        "id": image_id,
                        "comment": comment,
                        "csrfmiddlewaretoken": '{{csrf_token}}'
                    },
                    "dataType": "json",
                    "success": function(res) {
                        let p = document.createElement("p")
                        p.textContent = res['user'] + ": " + res["comment"]
                        
                    }
                })
                $(".comment-val").val("") 
            }
            
        </script>
    {% endblock %}
</body>
</html>