<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav style="background-color:#F5F5F5" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="brand-sign">
                    <a href="/"><img src="../../media/images/insta_brand.jpeg" alt="" height="45px" width="130px" ></a>
                </div>
            </div>

            <!-- Adding a search form  -->
            <div class="col-sm-4 col-md-4 navbar-right">

                <form class="navbar-form" role="search" action="{% url 'search' %}">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for a user">
                        <div class="input-group-btn">
                            <button style="text-align: center" class="btn btn-default" type="submit"><i
                                class="fas fa-search"></i></button>
                        </div>
                    </div>

                </form>
            </div>
            <!-- search form end -->
            <!--The search form above-->
            <div class="col-sm-8 col-md-8">

                <ul>
                    <li>
                        <a class="nav-link" href="/"><i class="mr-2 fas fa-home"
                                style="font-size: 18px"></i></span><span class="desc-on-sm">Home</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/add/image"><i class="mr-2 fas fa-plus"
                                style="font-size: 18px"></i></span><span class="desc-on-sm">Add Image</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'my_profile'%}"><i class="mr-2 fas fa-user"
                                style="font-size: 18px"></i><span class="desc-on-sm">Profile</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/accounts/password/change"><i class="mr-2 fas fa-user-lock"
                                style="font-size: 18px"></i><span class="desc-on-sm">Change Password</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt mr-2"
                                style="font-size: 18px"></i><span class="desc-on-sm">Logout</span></a>
                    </li>
                </ul>


            </div>
        </div>
    </nav>
</body>
<style>

    ul {
        float: right;
    }

    ul li {
        display: inline-block;
    }
    ul li a {
        color: black;
    }
</style>

</html>




