{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    {% block styles %}
        {% bootstrap_css %}
        

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
    crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">

    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% if users %}
            {% for user in users%}
                <div class="user-profiles">
                    {% if user.profile.pic%}
                    <img class="d-inline-block" src="{{user.profile.pic.cdn_url}}" alt="" height="60px" width="60px" style="border-radius: 50%;">
                    {% endif %}
                    <a href="{% url 'profile' user.id%}" class="text-dark"><h4 class="d-inline-block">{{user.username}}</h4></a>
                    <div class="col-md-5">
                        <h4 class="d-inline-block">{{user.username}}</h4>
                        <p>Posts: {{user.posts.all.count}}</p>
                        <p>Followers: {{user.user_followers.all.count}}</p>
                        <p>Following: {{user.user_following.all.count}}</p>
                    </div>
                </div>
                
            {% endfor %}
        {% else %}
            <h3>There are no users like that</h3>
        {% endif %}
    </div>
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %}
    
{% endblock %}
</body>
</html>